on:
  pull_request:
  push:
jobs:
  sbuild:
    runs-on: ubuntu-latest
    services:
      aptcache:
        image: sameersbn/apt-cacher-ng
        ports:
        - 3142:3142
    strategy:
      matrix: &matrix
        arch:
        - amd64
        - arm64
        distribution:
        - codename: trixie
          mirror: http://deb.debian.org/debian/
          keyring:
            package: debian-archive-keyring
            path: /usr/share/keyrings/debian-archive-keyring.gpg
          container_image: docker.io/library/debian
    steps:
    - run: >-
        echo 'Acquire::http::Proxy "http://localhost:3142";'
        | sudo tee /etc/apt/apt.conf.d/01proxy
    - run: sudo apt-get update
    - run: >-
        sudo apt-get install -y --no-install-recommends
        sbuild
        schroot
        mmdebstrap
        ${{ matrix.distribution.keyring.package }}
        arch-test
        debhelper
        devscripts
    - run: echo "$SBUILD_CONF" > ~/.sbuildrc
      env:
        SBUILD_CONF: |-
          # Set the chroot mode to be unshare.
          $chroot_mode = 'unshare';

          # Build Architecture: all packages; this is the same as passing `-A` to sbuild.
          $build_arch_all = 1;

          # Build the source in addition to the other requested build artifacts.
          # Without this, <BINARY>.changes files will not include the upstream source in
          # their list and will fail uploads to Debian if they are for a -1 revision that
          # includes a new upstream release; this is the same as passing `-s` to sbuild.
          $build_source = 1;

          # Produce a source.changes file suitable for a source-only upload;
          # this is the same as passing `--source-only-changes` to sbuild.
          $source_only_changes = 1;

          ## Run lintian after every build (in the same chroot as the build); use --no-run-lintian to override.
          $run_lintian = 1;
          # Display info tags.
          $lintian_opts = ['--display-info', '--verbose', '--fail-on', 'error,warning', '--info'];
    - if: matrix.arch != 'amd64'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: ${{ matrix.arch }}
    - uses: actions/checkout@v4

    - id: cache-mmdebstrap-restore
      uses: actions/cache/restore@v4
      with:
        key: ${{ matrix.distribution.codename }}-${{ matrix.arch }}.tar.zst
        path: .cache/sbuild/${{ matrix.distribution.codename }}-${{ matrix.arch }}.tar.zst
    - if: steps.cache-mmdebstrap-restore.outputs.cache-hit != 'true'
      run: mkdir -p .cache/sbuild
    - if: steps.cache-mmdebstrap-restore.outputs.cache-hit != 'true'
      run: >-
        mmdebstrap
        --skip=output/dev
        --variant=buildd
        --arch=${{ matrix.arch }}
        --keyring=${{ matrix.distribution.keyring.path }}
        --aptopt='Acquire::http::Proxy "http://localhost:3142";'
        ${{ matrix.distribution.codename }}
        .cache/sbuild/${{ matrix.distribution.codename }}-${{ matrix.arch }}.tar.zst
        ${{ matrix.distribution.mirror }}
    - if: steps.cache-mmdebstrap-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ matrix.distribution.codename }}-${{ matrix.arch }}.tar.zst
        path: .cache/sbuild/${{ matrix.distribution.codename }}-${{ matrix.arch }}.tar.zst

    - run: mkdir -p out
    - run: >-
        sbuild
        --nolog
        --build-dir=out
        --dist=${{ matrix.distribution.codename }}
        --arch=${{ matrix.arch }}
        --chroot=$PWD/.cache/sbuild/${{ matrix.distribution.codename }}-${{ matrix.arch }}.tar.zst

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.distribution.codename }}-${{ matrix.arch }}
        path: out/

  reprepro:
    runs-on: ubuntu-latest
    needs: sbuild
    steps:
    - run: sudo apt-get update
    - run: >-
        sudo apt-get install -y --no-install-recommends
        reprepro

    - uses: actions/download-artifact@v4
      with:
        path: artifacts
    - run: mkdir -p repo/conf
    - run: echo "$REPREPRO_DISTRIBUTIONS" > repo/conf/distributions
      env:
        REPREPRO_DISTRIBUTIONS: |-
          Codename: trixie
          Components: main
          Architectures: amd64 arm64
    - run: reprepro -b repo includedeb trixie artifacts/trixie-*/*.deb
    - run: rm -fr repo/conf repo/db

    - run: >-
        sudo apt-get install -y --no-install-recommends
        exiftool
    - uses: actions/setup-python@v6
      with:
        python-version: 3.x
    - run: pip install https://github.com/swantzter/staticdirindex/archive/refs/tags/v1.11.tar.gz
    - run: ln -s repo "${GITHUB_REPOSITORY##*/}"
    - run: staticdirindex --baseurl "/${GITHUB_REPOSITORY##*/}" "${GITHUB_REPOSITORY##*/}"

    - uses: actions/upload-pages-artifact@v3
      with:
        path: repo/
    - uses: actions/upload-artifact@v4
      with:
        name: repo
        path: repo/

  install:
    runs-on: ubuntu-latest
    needs: reprepro
    strategy:
      matrix: *matrix
    steps:
    - if: matrix.arch  != 'amd64'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: ${{ matrix.arch }}
    - uses: actions/download-artifact@v4
      with:
        name: repo
        path: repo/
    - run: echo "$DOCKERFILE" > Dockerfile
      env:
        DOCKERFILE: |-
          FROM ${{ matrix.distribution.container_image }}:${{ matrix.distribution.codename }}
          COPY repo/ /tmp/repo
          COPY <<eof /etc/apt/sources.list.d/xsscmd.sources
          Types: deb
          URIs: file:///tmp/repo
          Suites: ${{ matrix.distribution.codename }}
          Components: main
          Trusted: yes
          eof
          RUN ["apt-get", "update"]
          RUN ["apt-get", "install", "-y", "--no-install-recommends", "xsscmd"]
          RUN xsscmd || [ $? -eq 2 ]
    - uses: docker/build-push-action@v6
      with:
        push: false
        platform: linux/${{ matrix.arch }}
        context: .

  publish:
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    needs: install
    steps:
    - uses: actions/deploy-pages@v4
